container_commands:
    00dropdb:
        leader_only: true 
        command: 'env PATH="$PATH:$NODE_HOME/bin" ./node_modules/.bin/sequelize db:drop'
    01createdb:
        leader_only: true 
        command: 'env PATH="$PATH:$NODE_HOME/bin" ./node_modules/.bin/sequelize db:create'
    02unmigrate:
        leader_only: true 
        command: 'env PATH="$PATH:$NODE_HOME/bin" ./node_modules/.bin/sequelize db:migrate:undo:all'
    03migrate:
        leader_only: true 
        command: 'env PATH="$PATH:$NODE_HOME/bin" ./node_modules/.bin/sequelize db:migrate'
    04seed:
        leader_only: true 
        command: 'env PATH="$PATH:$NODE_HOME/bin" ./node_modules/.bin/sequelize db:seed:all'